<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Employee List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Manage Employee</h1>
    <table class="table table-active">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td>
                <a th:href="@{/editE?id={id}(id=${employee.id})}" class="btn btn-primary">Edit</a>
                <a th:href="@{/deleteEmployee?id={id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
    <a href="addEmployee" class="btn btn-success">Add Employee</a>
    <a href="/" class="btn btn-success">User</a>
</div>
</body>
</html>